@model BasicTouristAgency.ViewModel.PaginationViewModel<Reservation>


    @{
        ViewData["Title"] = "All reservations";
    }

@if (TempData["Success"] != null)
{
    <div class="alert alert-success">
        @TempData["Success"]
    </div>
}

@if (TempData["Error"] != null)
{
    <div class="alert alert-success">
        @TempData["Error"]
    </div>
}


    <form method="get" asp-action="Index"  asp-controller="Reservation" >
        <div class="row mt-5 mb-5">
            <div class="col-md-3">
                <div class="form-group">
                    <label for="searchUser" class="form-label">Enter name: </label>
                    <input type="text" name="searchUser" placeholder="Serach user" value="@Context.Request.Query["searchUser"]" class="form-control" />
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="vacName" class="form-label">Enter vacation name:</label>
                    <input type="text" name="vacName" placeholder="Vacation nema" value="@Context.Request.Query["vacName"]" class="form-control" />
                </div>
            </div>
           <div class="col-md-3">
                <div class="form-group">
                    <label for="status" class="form-label">Choose a status from list: </label>
                    <select name="status" class="form-control">
                        <option value="">All Statuses</option>
                        @foreach (var status in Enum.GetValues(typeof(BasicTouristAgency.Models.Reservation.ReservationStatus)))
                        {
                            if (Context.Request.Query["status"] == status.ToString())
                            {
                                <option value="@status" selected>@status</option>
                            }
                            else
                            {
                                <option value="@status">@status</option>
                            }
                        }
                    </select>
                </div>                
           </div>
           <div class="col-md-3">
                <button type="submit" class="btn btn-primary">Search</button>
           </div>                  
        </div>        
    </form>

    <h2>Reservation</h2>

    @foreach(var reservation in Model.Collection)
    {
       @await Html.PartialAsync("_ReservationAdminCard", reservation, new ViewDataDictionary(ViewData) { { "ReservationShowEditLink", true }, { "ReservationShowDeleteLink", true } })

    }

<div class="mt-5 mb-5">
    @await Html.PartialAsync("_PaginationReservation", Model)
</div>
  


<style>
    body {
        background-color: #F4F1E1;
    }
    
</style>