@model BasicTouristAgency.ViewModel.PaginationViewModel<BasicTouristAgency.Models.Reservation>

    @{
        ViewData["Title"] = " My reservation";
    }

@if(TempData["Success"] != null)
{
    <div class="alert alert-success">
        @TempData["Success"]
    </div>
}

@if(TempData["Error"] != null)
{
<div class="alert alert-success">
    @TempData["Error"]
</div>
}



<form method="get" asp-action="MyReservations" asp-controller="Reservation">
      
    
    <div class="row mt-5 mb-5">
        <div class="col-md-4">
            <div class="form-group">
                <label for="vacationName" class="form-label">Search a vacation: </label>
                <input type="text" name="vacationName" placeholder="Search a vacation" value="@Context.Request.Query["vacationName"]" class="form-control" />
            </div>

        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label for="status" class="form-label">Chooese a status: </label>
                <select name="status" class="form-control">
                    <option value="">All Statuses</option>
                    @foreach (var status in Enum.GetValues(typeof(BasicTouristAgency.Models.Reservation.ReservationStatus)))
                    {
                        if (Context.Request.Query["status"] == status.ToString())
                        {
                            <option value="@status" selected>@status</option>
                        }
                        else
                        {
                            <option value="@status">@status</option>
                        }
                    }
                </select>
            </div>            
        </div>
        <div class="col-md-4">
            <button type="submit" class="btn btn-primary">Search</button>
        </div>       
    </div>   
</form>

<h2>My Reservation</h2>

@foreach (var reservation in Model.Collection)
{
    @await Html.PartialAsync("_ReservationAdminCard", reservation, new ViewDataDictionary(ViewData) { { "ReservationShowEditLink", false }, { "ReservationShowDeleteLink", false } })

}


@await Html.PartialAsync("_PaginationMyReservations", Model)


<style>
    body {
        background-color: #F4F1E1;
    }
</style>