@model BasicTouristAgency.ViewModel.IPaginationViewModel<BasicTouristAgency.Models.User>



<head>
    <link rel="stylesheet" href="~/css/Pagination.css" />
</head>

<nav class="Page-navigation">
    @if (Model.HasPrevious)
    {
        <a href="@Url.Action("Index",new {
              page = Model.CurrentPage -1,
              firstName = Context.Request.Query["firstName"],
              lastName = Context.Request.Query["lastName"],
              email = Context.Request.Query["email"],
            })" class="btn btn-primary-pagination">Previuos</a>
    }

    @for (int i = 1; i <= Model.TotalPages; i++)
    {
        if (Model.CurrentPage == i)
        {
            <a href="@Url.Action("Index", new {
              page = i ,
               firstName = Context.Request.Query["firstName"],
              lastName = Context.Request.Query["lastName"],
              email = Context.Request.Query["email"]
              })" class="btn disabled-pagination">@i</a>
        }

        else
        {
            <a href="@Url.Action("Index", new {
              page = i ,
              firstName = Context.Request.Query["firstName"],
              lastName = Context.Request.Query["lastName"],
              email = Context.Request.Query["email"],
              })" class="btn btn-warning-pagination">@i</a>
        }
    }
    @if (Model.HasNext)
    {
        <a href="@Url.Action("Index", new {
              page = Model.CurrentPage + 1,
               firstName = Context.Request.Query["firstName"],
              lastName = Context.Request.Query["lastName"],
              email = Context.Request.Query["email"],
              })" class="btn btn-secondary-pagination">Next</a>
    }
</nav>