@model BasicTouristAgency.ViewModel.IPaginationViewModel<BasicTouristAgency.Models.Reservation>

<head>
    <link rel="stylesheet" href="~/css/Pagination.css" />
</head>

<nav class="Page-navigation">
    @if (Model.HasPrevious)
    {
        <a href="@Url.Action("MyReservations",new {
              page = Model.CurrentPage -1,
              vacationName = Context.Request.Query["vacationName"],             
              status = Context.Request.Query["status"],
              })" class="btn btn-primary-pagination">Previuos</a>
    }

    @for (int i = 1; i <= Model.TotalPages; i++)
    {
        if (Model.CurrentPage == i)
        {
            <a href="@Url.Action("MyReservations", new {
              page = i ,
               vacationName = Context.Request.Query["vacationName"],
              status = Context.Request.Query["status"],
              })" class="btn disabled-pagination">@i</a>
        }

        else
        {
            <a href="@Url.Action("MyReservations", new {
              page = i ,
              vacationName = Context.Request.Query["vacationName"],
              status = Context.Request.Query["status"],
              })" class="btn btn-warning-pagination">@i</a>
        }
    }
    @if (Model.HasNext)
    {
        <a href="@Url.Action("MyReservations", new {
              page = Model.CurrentPage + 1,
               vacationName = Context.Request.Query["vacationName"],
              status = Context.Request.Query["status"],
              })" class="btn btn-secondary-pagination">Next</a>
    }
</nav>